@font-face {
  font-family: FreightDisp;
  font-style: italic;
  font-weight: 100;
  src: url("fonts/FreightDisp-BookItalic.otf")format("opentype");
  src: url("fonts/FreightDisp-BookItalic.woff");
}

@font-face {
  font-family: GTAmerica;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/GTAmerica-Regular.woff");
}

@font-face {
  font-family: GTAmerica;
  font-style: italic;
  font-weight: normal;
  src: url("fonts/GTAmerica-RegularItalic.woff");
}



.container {
  display: grid;
  height: calc(100vh - 72px);
  min-height: calc(100vh - 72px);
  width: calc(100vw-72);
  margin-left: 36px;
  margin-top: 36px;
  margin-bottom: 50px;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0.2rem;
  grid-template-rows: min-content auto 0.1fr;
}

header {
  -webkit-font-smoothing: antialiased;

  grid-column: 1/13;
  *background: #ffead7;
  z-index: 2;
}

section {
  grid-column: 1/5;
  grid-row: 2;
 	*background: #bce3ff;
  z-index: 2;
}

#thumbnail {
  grid-column: 3/10;
  grid-row: 2;
  min-height: 450px;
  *background: linear-gradient(122.18deg, #FFEAD7 8.01%, #BCE3FF 95.95%);
  background-position: center center;
}

h1 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: FreightDisp;
  letter-spacing: normal;
  font-size: 48px;
  line-height: min-height;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: GTAmerica;
  font-size: 24px;
  letter-spacing: -0.035em;
  line-height: 29px;
  background: linear-gradient(122.18deg, #FFEAD7 8.01%, #BCE3FF 95.95%);;
}

span {
  font-style: italic;
}

footer {
  font-family: GTAmerica;
  font-size: 18px;
  letter-spacing: normal;
  line-height: 22px;

  grid-column: 1/13;
  grid-row: 4;
  *background: #ffead7;
  z-index: 2;
  align-self: center;
}

a {
  color: black;
  font-variation-settings: "wght" 100, "wdth" 100;
  transition: font-variation-settings 0.2s;
}

a:hover {
  font-variation-settings: "wght" 900, "wdth" 200;
}

@media only screen and (max-width: 768px) {
  .container {
    height: calc(100vh - 72px);
    grid-template-columns: 1fr;
    grid-gap: 0.2rem;
    grid-template-rows: 0.1fr 0.15fr auto 0.1fr;
  }
  #thumbnail{
    grid-column: 1/2;
  	grid-row: 2;
    min-height: 560px;
    background-position: center center;
    background-size: cover;
  }
}
