html {
  background: linear-gradient(122.18deg, #FFEAD7 8.01%, #BCE3FF 95.95%);
  background-size: cover;
}

@font-face {
    font-family: Freight Disp Book;
    src: url('fonts/freightdisp-bookitalic.eot');
    src: url('fonts/freightdisp-bookitalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/freightdisp-bookitalic.woff2') format('woff2'),
         url('fonts/freightdisp-bookitalic.woff') format('woff'),
         url('fonts.freightdisp-bookitalic.ttf') format('truetype'),
         url('fonts/freightdisp-bookitalic.svg#freight_dispbook_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: GTAmerica;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/GTAmerica-Regular.woff");
}

@font-face {
  font-family: GTAmerica;
  font-style: italic;
  font-weight: normal;
  src: url("fonts/GTAmerica-RegularItalic.woff");
}

@font-face {
  font-family: MinSans-Black;
  font-style: normal;
  font-weight: bolder;
  src: url("fonts/MinSans-Black-v0300.woff") format('woff'),
       url("fonts/MinSans-Black-v0300.woff2") format('woff2');
}

@font-face {
  font-family: MinSans;
  font-style: normal;
  font-weight: medium;
  src: url("fonts/MinSans-Medium-v0300.woff") format('woff'),
       url("fonts/MinSans-Medium-v0300.woff2") format('woff2');
}

@font-face {
  font-family: MinSans-Book;
  font-style: normal;
  font-weight: book;
  src: url("fonts/MinSans-Book-v0300.woff") format('woff'),
       url("fonts/MinSans-Book-v0300.woff2") format('woff2');
}

/* hover config */

.hiddenimg {
  display: none;
}

.hiddentxt {

}

.hiddentxt a {
  color: #000000;
  text-decoration: none;
}

.hiddentxt:hover ~ .hiddenimg {

  display: flex;
  position: fixed;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  z-index: -1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* display: inline;
  position: absolute;
  z-index: -1;
  margin-left: 35%;
  justify-content: center;
  flex-direction: column; */


}

/* Basic styling */

h1 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: Freight Disp Book;
  letter-spacing: normal;
  font-size: 48px;
  font-weight: 200;
  line-height: auto;
}

p-title {
  font-family: MinSans-Black;
  font-weight: bolder;
  font-size: 24px;
  letter-spacing: 110%;
  line-height: 117%;
}

p {
  font-family: MinSans-Book;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 117%;

  display: block;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

p-alt {
  font-family: GTAmerica;
  letter-spacing: -0.035em;
  line-height: 1.0;
}

span {
  font-family: GTAmerica;
  font-style: italic;
  letter-spacing: -0.035em;
  font-weight: normal;
}

a {
  font-family: GTAmerica;
  letter-spacing: -0.035em;
  line-height: 1.0;
  color: black;
  font-style: normal;
  text-decoration: none;
  *font-variation-settings: "wght" 100, "wdth" 100;
  *transition: font-variation-settings 0.4s;
}

footer a {
  color: black;
  letter-spacing: 0;
  font-size: 18px;
  line-height: 102%;
  font-style: normal;
  text-decoration: none;
}

a:hover {
  font-style: italic;
  text-decoration: underline;
}

/*img{
   display: none;
   grid-column: 6/13;
   grid-row-start: auto;
}

span:hover ~ img{
  display: inline-grid;
  z-index: 1;

  grid-column: 6/13;
  grid-row-start: auto;
} */

footer a:hover {
  color: black;
  font-style: italic;
  text-decoration: underline;
}

/* Content styling */

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  *background: linear-gradient(90deg, #FFEAD7 8.01%, #BCE3FF 95.95%);
  overflow-x: hidden;
  *overflow-y: hidden;
  margin: 0 auto 0;
}

article {
  display: grid;
  width: calc(100vw - 72px);
  margin-left: 36px;
  /* margin-top: 36px; */
  margin-bottom: 50px;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0.2rem;
  grid-template-rows: auto 1fr auto;
}

header {
  -webkit-font-smoothing: antialiased;

  /*padding: 5px 12px;
  border: 1px solid #000;
  border-radius: 50%; */

  grid-column: 1/13;
  grid-row: 1;
  *background: white;
  z-index: 2;
  height: 75px;
}

main {
  grid-column: 1/5;
  grid-row: 2;
 	*background: white;
  z-index: 2;
  align-self: end;

  margin-bottom: 50px;
}

content-title {
  grid-column: 1/3;
}

content {
  grid-column: 3/9;
  grid-row-start: auto;
 	*background: white;
  z-index: 2;
  align-self: end;

  margin-bottom: 10px;
}

quote-indented {
  grid-column: 4/9;
  grid-row-start: auto;
  color: #406784;
  z-index: 2;
  align-self: end;

  margin-bottom: 50px;
}

footer {
  grid-column: 1/2;
  grid-row: 3;
  *background: #ffead7;
  z-index: 2;
  *align-self: end;

  *position: fixed;
  *bottom: 50px;

  font-family: GTAmerica;
  font-size: 18px;
  letter-spacing: normal;
  line-height: 1.2em;
  text-align: left;
}

/* Breakpoints for smaller viewports */

@media only screen and (max-width: 1000px) {
  html {
    background: linear-gradient(122.18deg, #FFEAD7 8.01%, #BCE3FF 95.95%);
    min-height: calc(1.1*100vh);
  }

  h1 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: Freight Disp Book, sans-serif;
    letter-spacing: normal;
    font-size: 40px;
    font-weight:200;
    line-height: auto;
  }

  a {
    font-color: darkgrey;
    text-decoration: none;
  }

  footer a {
    font-color: black;
    text-decoration: none;
  }

  article {
    *min-height: calc(100vh - 100px);
    min-height: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.2rem;
    grid-template-rows: auto 1fr auto;
  }

  header {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    grid-column: 1/3;
    height: 80px;

    font-size: 40px;
  }

  /* body {
    font-family: GTAmerica;
    font-size: 24px;
    letter-spacing: -0.035em;
    line-height: 1.2em;
  } */

  main {
    grid-column: 1/3;
    grid-row: 2;
  }

  content-title {
    grid-column: 1/2;
  }

  content {
    grid-column: 2/5;
    grid-row-start: auto;
  }

  quote-indented {
    grid-column: 2/5;
  }

  footer {
    grid-column: 1/2;
    grid-row: 3;
  }


@media only screen and (max-width: 768px) {
  html {
    background: linear-gradient(122.18deg, #FFEAD7 8.01%, #BCE3FF 95.95%);
    min-height: calc(1.1*100vh);
  }

  h1 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: Freight Disp Book, sans-serif;
    letter-spacing: normal;
    font-size: 36px;
    font-weight:200;
    line-height: auto;
  }

  a {
    font-color: darkgrey;
    text-decoration: none;
  }

  footer a {
    font-color: black;
    text-decoration: none;
  }

  article {
    *min-height: calc(100vh - 100px);
    min-height: auto;
    grid-template-columns: 1fr;
    grid-gap: 0.2rem;
    grid-template-rows: 1fr;
  }

  header {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    *height: 80px;

    grid-column: 1;
    grid-row: 1;
  }

  content-title {
    grid-column: 1;
  }

  content {
    grid-column: 1;
  }

  quote-indented {
    grid-column: 1;
  }

  /* body {
    font-family: 'GTAmerica';
    font-size: 20px;
  } */

  footer {
    grid-column: 1;
    grid-row: 3'
  }
